extends layout

block content

  h1= title
  p New message form
  form(action="/new", method="POST")
    div
        h2 Author 
        input(type="text", name="authorInput")
    div 
        h2 Message 
        textarea( cols="50", rows="5",type="text", name="textInput")#textInput
    button Submit

